.won {
  color: white;
  background: rgb(39, 156, 39);
  padding: 5px;
  border-radius: 10px;
  width: 200px;
  margin: 0 auto;
}

.lost {
  color: white;
  background: rgb(182, 60, 56);
  padding: 5px;
  border-radius: 10px;
  width: 200px;
  margin: 0 auto;
}

.draw {
  color: white;
  background: rgb(93, 98, 168);
  padding: 5px;
  border-radius: 10px;
  width: 200px;
  margin: 0 auto;
}
