img {
  border-radius: 10px;
}
span {
  margin-left: 5px;
  background: rgb(230, 86, 86);
  border-radius: 10px;
  color: white;
  padding: 3px;
}
span:hover {
  background: rgb(138, 49, 49);
  transition: 0.5s;
}
.table {
  color: white;
  margin: 20px auto;
  width: 200px;
  background: rgb(138, 138, 241);
  border-radius: 10px;
  padding: 5px;
}
